@model IEnumerable<WSEcommerce.Models.ProjectRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
